@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins';
    border: solid  1px red;

}

footer {
  border-top: solid 2px #fff;
  filter: drop-shadow(0px 5px 10px #fff);
}

.footer {
  display: flex;
  justify-content: center;
  height: 200px;
  background-color: #2c2c2c;

}

.footer-container {
  display: flex;
  align-items: center;
  width: 90%;
  height: 100%;
  text-transform: uppercase;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  height: 100%;
}

.f-left-container {
  width: 100%;
}

.footer-image a{
  display: block;
}

  .footer-image {
  width: 100%;
}

.footer-image img{
  min-width: 250px;
  width: 100%;
  display: block;
}

/* --footer right-- */
.footer-right {
  display: flex;
  justify-content: right;
  width: 100%;
  color: #fff;
}

.fr-container {
  display: flex;
  gap: 20px;
}

.hl-header {
  padding: 4px 0pc;
}

.fr-list {
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 100%;
}

.service-list ul li, .service-list ul li a{
  list-style: none;
  text-decoration: none;
  color: #ffffffa6;
  padding: 1px;
}

.service-list ul li a {
  display: flex;
  align-items: center;
}

.service-list ul li a img {
  height: 17px;
  filter: invert();
  opacity: 0.5;
  margin-right: 10px;
}

.service-list ul li a:hover, .service-list ul li a img:hover{
  opacity: 1;
  color: #fff;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #000;
}

.copyright p {
  color: #fff;
  text-align: center;
}
